header {
  width: 100%;
  z-index: 3;
  background-color: #222831;
}

header .logoLotus {
  width: 120px;
  height: 120px;
}

header .menu-btn {
  display: none;
}
header .menu-btn:checked ~ ul {
  max-height: 275px;
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:hover {
  background-color: rgb(56, 65, 78);
}

header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 58px 20px;
  position: relative;
  user-select: none;
}

header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

header .menu-icon .navicon:before, header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 5px;
}

header .menu-icon .navicon:after {
  top: -5px;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: unset;
  width: 35%;
  font-size: 1rem;
  font-weight: 500;
  clear: both;
  transition: max-height 0.2s ease-out;
  max-height: 0;
}

header ul li a {
  display: block;
  padding: 1rem 1rem;
  text-decoration: none;
  color: white;
}

header ul li a {
  padding-top: 5px;
  padding-bottom: 5px;
}

header ul li a:hover {
  background-color: rgb(56, 65, 78);
}

footer {
  text-align: center;
  font-weight: bold;
  background-color: #222831;
  color: white;
}
footer .divRedes {
  text-align: center;
  color: red;
  padding-top: 1%;
}
footer .divRedes a {
  text-decoration: none;
}
footer p {
  margin: 0;
}

main {
  background-color: #222831;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  overflow: hidden;
  flex-grow: 1;
}
main .titulo {
  text-align: center;
  color: white;
}
main .imgFondo {
  text-align: center;
  margin: center;
  padding-top: 2%;
  width: 100%;
}
main .imgFondo img {
  width: 100%;
}
main .dirEscuela,
main .caracteristicas {
  text-align: center;
  color: white;
  padding-top: 2%;
}
main .items {
  color: white;
  padding-top: 2%;
  padding-left: 2%;
}
main .listItems {
  color: white;
  padding-top: 2%;
  font-weight: bold;
}
main .duracionClase {
  text-align: center;
  color: white;
}

.nosotrosContainer .instructores {
  text-align: center;
  background-color: #222831;
  color: white;
  padding-bottom: 1%;
}

.histEscuela {
  text-align: center;
  background-color: #222831;
  color: white;
}
.histEscuela .historia {
  text-align: center;
  background-color: #222831;
  color: white;
  padding-top: 1%;
}

.iframe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: unset;
  background-color: #222831;
  padding-top: 2%;
  padding-bottom: 2%;
}

.sedes {
  text-align: center;
  background-color: #222831;
  color: white;
  list-style-type: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  padding: 10px;
  color: white;
}
.grid .day {
  border: 1px solid black;
  padding: 10px;
}
.grid .activity {
  border: 1px solid black;
  padding: 10px;
}
.grid .time {
  border: 1px solid black;
}

.contacto {
  list-style: none;
  background-color: #222831;
  color: white;
  text-align: center;
}

.formulario {
  width: 50%;
}

.contactoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#galeria {
  margin: 1rem auto;
  width:100%;
  max-width:960px;
  column-count: 3;
}

.imgGaleria {
  width: 300px;
}

@media (min-width: 90em) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  header .menu-icon {
    display: none;
  }
  header ul {
    clear: none;
    float: right;
    max-height: none;
    flex-direction: row;
    font-size: 1.25rem;
  }
}
@media (max-width: 48em) {
  .iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .grid {
    overflow-x: scroll;
  }
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  background-color: #222831;
}
@media (max-width: 480px) {
  #galeria {
      columns: 1;
  }
}
/*# sourceMappingURL=style.css.map */