.histEscuela {
  text-align: center;
  background-color: $bg-color;
  color: $txt-color;
  .historia {
    text-align: center;
    background-color: $bg-color;
    color: $txt-color;
    padding-top: 1%;
  }
}
